<html xmlns:th="http://www.w3.org/1999/xhtml">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music Social Media</title>

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/style2.css}"/>
    <link rel="stylesheet" th:href="@{/css/plugins.css}"/>

</head>
<body>
<div class="hero user-hero">
    <div class="container bodydirection">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1>Music Social Media</h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="">artists</a></li>
                        <li><span class="ion-ios-arrow-left"></span>profile
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="buster-light">
    <div class="page-single">
        <div class="container">
            <div class="row ipad-width">
                <div class="col-md-3 col-md-3-c col-sm-12 col-xs-12 ">
                    <div class="user-information">
                        <div class="user-img">
                            <!--                            <a href="#"><img loading="lazy" class="profile-height"-->
                            <!--                                             th:src="img/user-img.png"><br></a>-->
                            <!--                            <a class="redbtn"></a>-->
                        </div>
                        <div class="user-fav">
                            <p>User Account</p>
                            <ul>
                                <li class="active"><a href="/profile">profile</a>
                                </li>
                                <li><a href="/user/changePassword">change password</a></li>
                                <li><a href="/logout">logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-md-8-c col-sm-12 col-xs-12 ">
                    <div class="form-style-1 user-pro  margin-change-password">
                        <form action="/user/changePassword" method="post" class="password">
                            <div class="margin-change-password-h3">
                                <h3>تغییر رمز عبور</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-md-12-c form-it input-icons inner-addon right-addon">
                                    <i class="fa fa-lock"></i>
                                    <input type="password" name="currentPassword" id="currentPassword"
                                           placeholder="رمزعبور فعلی">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-md-6-c form-it input-icons inner-addon right-addon">
                                    <i class="fa fa-lock"></i>
                                    <input type="password" name="password" id="password"
                                           placeholder="رمز عبور جدید" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                           title="رمز عبور باید شامل عدد و کاراکتر بزرگ و کوچک باشد.">
                                </div>
                                <div class="col-md-6 col-md-6-c form-it input-icons inner-addon right-addon">
                                    <i class="fa fa-lock"></i>
                                    <input type="password" name="repeatNewPassword" id="repeatNewPassword"
                                           placeholder="تکرار رمز عبور جدید" onkeyup="validatenewPassword()">
                                </div>
                            </div>
                            <input name="id" hidden th:value="${user.userID}">
                            <div class="row">
                                <div class="col-md-3">
                                    <input class="submit" name="login-page" id="login-page" type="submit"
                                           value="ثبت رمز عبور">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>