<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music Social Media</title>

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/style2.css}"/>
    <link rel="stylesheet" th:href="@{/css/plugins.css}"/>
    <link th:href="@{/img/favicon.ico}" rel="shortcut icon"/>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap"
          rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}"/>

    <!-- Main Stylesheets -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <header class="header-section clearfix">
        <a th:href="@{/}" class="site-logo">
            <img th:src="@{/img/logo.png}" alt="">
        </a>
        <div class="header-right">
            <div class="user-panel">
                <a th:href="@{/login}" class="login" th:text="${userName} ?: 'Login'"></a>
                <span>|</span>
                <a th:href="@{/signup}" class="register">Create an account</a>
            </div>
        </div>
        <ul class="main-menu">
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/albums}">Albums</a></li>
            <li><a th:href="@{/medias}">Playlist</a></li>
            <li><a th:href="@{/artists}">Artists</a></li>
            <li><a th:href="@{/likedMedia}">Favourite</a></li>
        </ul>
    </header>
</head>
<body>
<div class="hero user-hero" style="background-color:#08192d;">
    <div class="container bodydirection">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1>Music Social Media</h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="">artists</a></li>
                        <li><span class="ion-ios-arrow-left"></span>profile
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="buster-light">
    <div class="page-single">
        <div class="container">
            <div class="row ipad-width">
                <div class="col-md-3 col-md-3-c col-sm-12 col-xs-12 ">
                    <div class="user-information">
                        <div class="user-img">
                            <!--                            <a href="#"><img loading="lazy" class="profile-height"-->
                            <!--                                             th:src="img/user-img.png"><br></a>-->
                            <!--                            <a class="redbtn"></a>-->
                        </div>
                        <div class="user-fav">
                            <p>User Account</p>
                            <ul>
                                <li class="active"><a href="/profile">profile</a></li>
                                <li><a href="/user/changePassword">change password</a></li>
                                <li><a href="/logout">logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-md-8-c col-sm-12 col-xs-12 ">
                    <div class="form-style-1 user-pro  margin-change-password">
                        <form action="/user/edit" method="post" class="password">
                            <div class="margin-change-password-h3">
                                <h3>Edit Profile</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-md-6-c form-it input-icons inner-addon right-addon">
                                    <i class="fa fa-user"></i>
                                    <input type="text" name="firstName"
                                           th:placeholder="${user.firstname}">
                                </div>
                                <div class="col-md-6 col-md-6-c form-it input-icons inner-addon right-addon">
                                    <i class="fa fa-user"></i>
                                    <input type="text" name="lastName"
                                           th:placeholder="${user.lastname}">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-md-6-c form-it input-icons inner-addon right-addon">
                                    <i class="fa fa-user"></i>
                                    <input type="text" readonly name="userName" th:placeholder="${user.username}">
                                </div>
                                <div class="col-md-6 col-md-6-c form-it input-icons inner-addon right-addon">
                                    <i class="fa fa-envelope"></i>
                                    <input type="email" readonly name="email" th:placeholder="${user.email}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-md-12-c form-it input-icons inner-addon right-addon">
                                    <i class="fa fa-user"></i>
                                    <input type="text" name="biography" th:placeholder="${user.biography}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <input class="submit" name="login-page" id="login-page" type="submit"
                                           value="edit profile">
                                </div>
                                <input name="id" hidden th:value="${user.userID}">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>